<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Order Confirmation</h1></br>
  <h3> Here's what you ordered:</h3><br>
  <table>
    <tr>
      <th>
        Product
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
    </tr>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td>
          <%= line_item.product.name %>
        </td>
        <td>
          <%= line_item.quantity %>
        </td>
        <td>
          <%= number_to_currency(line_item.product.price, precision: 2) %>
        </td>
      </tr>
      <% end %>
        <tr>
          <td>Total:
            <%= number_to_currency(@order.total_cents, :precision => 2) %>
          </td>
        </tr>
  </table>
  </h3>
</body>

</html>
