<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>

<!-- <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %> -->
