#review-text{
  resize: none
}
.review-footer-rating{
  width: 60px;
  margin: auto;
  margin-left: 0;
  position: static;
  line-height: 20px;
}
.review-footer-date{
  width: 200px;
  margin: auto;
  margin-left: 0;
  position: static;
  line-height: 20px;
}
